.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  color: rgb(173, 173, 173);
}

.text {
  font-size: 14px;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.text:hover {
  color: blue;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-self: center;
    justify-content: space-around;
    height: 80px;
  }
}
