.container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.avatar {
  object-fit: contain;
  border-radius: 50%;
}

.detailText {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.detailTitle {
  color: gray;
  font-weight: bold;
}

.detailValue {
  font-weight: 500;
}
