.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container input,
.container textarea,
.container select {
  padding: 20px;
  background-color: var(--bgSoft);
  border: none;
  border-radius: 5px;
  color: var(--textColor);
}

.container button {
  padding: 20px;
  background-color: var(--btn);
  color: var(--textColor);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.container button:hover {
  background-color: var(--btnHover);
  transition: 0.3s ease;
}
