.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}

.form input {
  padding: 20px;
  background-color: var(--bg);
  color: var(--textColor);
  border: none;
  border-radius: 10px;
}

.form button {
  padding: 20px;
  background-color: var(--btn);
  color: var(--textColor);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.form button:hover {
  background-color: var(--btnHover);
  transition: 0.3s ease;
}
