.container {
  display: flex;
  align-items: "center";
  gap: 100px;
}
/* Image Container */
.imgContainer {
  flex: 1;
  position: relative;
  height: 500px;
}

.img {
  object-fit: contain;
}

/* Form container */
.formContainer {
  flex: 1;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form input,
.form textarea {
  background: var(--bgSoft);
  color: var(--text);
  padding: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.form button {
  padding: 20px;
  background: var(--btn);
  color: var(--text);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.form button:hover {
  background: var(--btnHover);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
